@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.intro {
    background-color: #444;
    color: white;
    border: 5px solid #000;
    padding: 10px;
    border-radius: 10px;
}

.intruction {
    background-color: rgb(170, 170, 170);
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 10px;
    display: none;
    background-color: #f1f1f1;
    overflow: hidden;
}