<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tendata Data Scraper</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- <link rel="icon" type="image/png" href="/favicon-32x32.png"> -->
    <link rel="stylesheet" href="/style.css">
</head>

<body style="align-items: center; text-align: center;">
    <div class="intro">
        <h1>Tendata Data Scraper</h1>
        <h3>Made by Killian0812</h3>
    </div>
    <br>
    <div class="intruction">
        <div style="text-align: left; margin-left: 25%">
            <label>Instruction:</label>
            <p>Step 1: Go to page that you want to crawl data.</p>
            <p>Step 2: Hit F12 or (Ctrl + Shift + I) or (Right Click + Inspect) to view your webpage Elements.</p>
            <p>Step 3: Right click on &lt;html&gt; element => Copy => Copy element. You can also copy &lt;table&gt;
                element only.</p>
            <p>Step 4: Paste what you've copied into input field below to clone the page. </p>
            <p>Step 5: Give additional information then hit 'CRAWL'</p>

            <p><a style="color: rgb(190, 0, 0);">(MALFUNCTIONING) </a>You can view the cloned page at <a
                    href="/clonepage" target="_blank" id="popup">HERE</a>.</p>
            <p>Excel merging tool: <a href="https://products.aspose.app/cells/merger"
                    target="_blank">https://products.aspose.app/cells/merger</a></p>
        </div>
    </div>
    <form id="info">
        <div>
            <div style="font-weight: bold; text-align: left; margin-left: 25%">HTML Element:</div>
            <div>
                <textarea type="text" id="clone" style="width: 60vh; height: 30vh;" required></textarea>
                <div style="vertical-align: top; display: inline-block;">
                    <div>
                        <button type="button" class="collapsible">View Example</button>
                        <div class="content">
                            <p>File name = "Trade2024", File order = 1</p>
                            <p>==> Exported file: Trade2024_1.xls</p>
                        </div>
                    </div>
                    <div style="width: 100%; padding-left: 10px;">
                        <label>File name:</label>
                        <input type="text" id="filename" style="width: 15vh" placeholder="Trade2024" required>
                        <label>File order:</label>
                        <input type='number' id="fileorder" style="width: 5vh" placeholder="1" required>
                    </div>
                    <div style="width: 100%; padding-left: 10px; padding-top: 20px;">
                        <label>Number of data you want to crawl:</label>
                        <input type='number' id="dataCnt" style="width: 5vh" value="20" required>
                    </div>
                    <div style="width: 100%; padding-left: 10px; padding-top: 20px;">
                        <button type="submit" style="vertical-align: top; font-size: 20px;">CRAWL</button>
                    </div>
                    <div id="msg" style="width: 100%; padding-left: 10px; padding-top: 20px;"></div>
                </div>
            </div>
        </div><br><br>
    </form>

</body>
<script>
    document.getElementById("info").addEventListener("submit", function (e) {

        e.preventDefault();
        var filename = document.getElementById('filename').value;
        var order = document.getElementById('fileorder').value;
        var fileExt = filename + '_' + order + '.xls';
        var dataCnt = document.getElementById('dataCnt').value;
        var htmlSrc = document.getElementById('clone').value;
        var msgDiv = document.getElementById('msg');

        var data = {
            name: filename,
            order: order,
            dataCnt: dataCnt,
            src: htmlSrc
        };

        // Construct the URL with query parameters
        var url = '/api/getXls?' + 'name=' + filename + '&order=' + order + '&dataCnt=' + dataCnt;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(new Blob([blob]));
                const a = document.createElement('a');
                a.href = url;
                a.download = fileExt;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            })
            .then(() => {
                var msg = document.createElement("p");
                msg.innerHTML = "File exported: " + fileExt;
                msgDiv.appendChild(msg);
            });
    });
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

</html>